{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <script src="https://kit.fontawesome.com/b0f29e9bfe.js" crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                      alt="Sample photo"
                      class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                    />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                    <form action="{% url 'it:register' %}" method="POST">
                        {% csrf_token %}
                      <h3 class="mb-5 text-uppercase">Formulaire d'inscription</h3>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m" class="form-control form-control-lg" name="first_name" required />
                            <label class="form-label" for="form3Example1m">Prénom</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n" class="form-control form-control-lg" name="last_name" required />
                            <label class="form-label" for="form3Example1n">Nom</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m1" class="form-control form-control-lg" name="first_number" required />
                            <label class="form-label" for="form3Example1m1">Téléphone 1</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n1" class="form-control form-control-lg" name="second_number" required />
                            <label class="form-label" for="form3Example1n1">Téléphone 2</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example8" class="form-control form-control-lg" required name="mail" />
                        <label class="form-label" for="form3Example8">Mail</label>
                      </div>
      
                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
      
                        <h6 class="mb-0 me-4">Genre: </h6>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="femaleGender"
                            value="option1"
                            required
                          />
                          <label class="form-check-label" for="femaleGender">Femme</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="inlineRadioOptions"
                            id="maleGender"
                            value="option2"
                          />
                          <label class="form-check-label" for="maleGender">Homme</label>
                        </div>
      
      
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
      
                          <select class="select" name="city" required >
                            <option value="1">Ville</option>
                            <option value="2">Abidjan</option>
                            <option value="3">Toumodi</option>
                            <option value="4">Bouaké</option>
                          </select>
      
                        </div>
                        <div class="col-md-6 mb-4">
      
                          <select class="select" name="sector" required >
                            <option value="1">Commune</option>
                            <option value="2">Treichville</option>
                            <option value="3">Yopougon</option>
                            <option value="4">Plateau</option>
                          </select>
      
                        </div>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example9" class="form-control form-control-lg" name="school"required />
                        <label class="form-label" for="form3Example9">Lycée/Collège/Université/Grande école</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example90" class="form-control form-control-lg" name="level" required />
                        <label class="form-label" for="form3Example90">Niveau</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example99" class="form-control form-control-lg" name="classe" required />
                        <label class="form-label" for="form3Example99">Classe</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example97" class="form-control form-control-lg" name="info_sup" />
                        <label class="form-label" for="form3Example97">Info supplémentaire</label>
                      </div>
                                 
                        {% if form.errors %}
                         {% for field in form %}
                            {% for error in field.errors %} 
                            <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                         {% endfor %}
                        {% endif %}
      
                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-light btn-lg">Tout rénitialiser</button>
                        <button type="submit" class="btn btn-warning btn-lg ms-2" style="background-color: #ff6219;">Soumettre</button>
                      </div>
                    </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>